<nav style="background:#112c3f" class="navbar navbar-expand-md navbar-dark">
  <div class="container-fluid">
    <a href="/admin" class="navbar-brand" style="color: #EFEEE5" >Sistema Administrativo</a>
{#      permite mostrar y esconder el menu icon#}
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
      <span class="navbar-toggler-icon"></span>
    </button>
{#     los elementos de la barra del menu navegacion#}
    <div id="MenuNavegacion" class="collapse navbar-collapse" >
{#        elemento de manavegacion#}
      <ul class="navbar-nav ms-3">
        <li class="nav-item">

          <a class="nav-link active" style="color: #EFEEE5" aria-current="page" href="/">INICIO</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
          <li class="nav-item" ><a class="nav-link active text-nowrap" style="color: #EFEEE5" href="#">User: Natilla</a></li>
      </ul>
    </div>
  </div>
</nav>
